.body {
  background-color: rgb(39, 36, 36);
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div1 {
  width: 350px;
  height: 470px;
  background-color: rgb(48, 44, 44);
  border-radius: 10px;

  display: flex;
  justify-content: center;   /* center box horizontally */
  align-items: flex-start;   /* keep content at top */
  padding-top: 20px;
}

/* THIS is what you were missing */
.box {
  display: flex;
  flex-direction: column;
  align-items: center;       /* center image + text */
}

.img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
}

.h3 {
  margin-top: 15px;
  font-size: larger;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.p1 {
  margin-bottom: 20px;
  
  position: relative;
  top: -20px;
  font-size: small;
  color: greenyellow;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.p2 {
  
  position: relative;
  top: -30px;
  font-size: small;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.div2{
  width: 280px;
  height: 35px;
  background-color: rgb(65, 61, 61);
  border-radius: 5px;
   position: relative;
  top: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.div3{
  width: 280px;
  height: 35px;
  background-color: rgb(65, 61, 61);
  border-radius: 5px;
   position: relative;
  top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.div4{
  width: 280px;
  height: 35px;
  background-color: rgb(65, 61, 61);
  border-radius: 5px;
   position: relative;
  top: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.div5{
  width: 280px;
  height: 35px;
  background-color: rgb(65, 61, 61);
  border-radius: 5px;
   position: relative;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
.div2:hover{
  color: black;
  background-color: greenyellow;
  cursor: pointer;
}
.div3:hover{
  color: black;
  background-color: greenyellow;
  cursor: pointer;}

  .div4:hover{
  color: black;
  background-color: greenyellow;
  cursor: pointer;}
  
  .div5:hover{
  color: black;
  background-color: greenyellow;
  cursor: pointer;}
  
  .div6:hover{
  color: black;
  background-color: greenyellow;
  cursor: pointer;}
  
.div6{
  width: 280px;
  height: 35px;
  background-color: rgb(65, 61, 61);
  border-radius: 5px;
   position: relative;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}